<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Landsat</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <header>
        <h1>Mapa Landsat</h1>
        <nav>
            <a href="#" id="home-link">Map</a>
            <a href="#" id="analysis-link">Data Analytics</a>
        </nav>
    </header>

    <div id="loading-indicator">Loading...</div>

    <div id="principal">
        <div id="map"></div>
        <div id="sidebar">
            <div id="form-container">
                <form id="landsat-form">
                    <label for="landsat">Landsat:</label>
                    <select id="landsat" required>
                        <option value="L9">Landsat 9</option>
                        <option value="L8">Landsat 8</option>
                        <option value="L7">Landsat 7</option>
                        <option value="L5">Landsat 5</option>
                    </select>

                    <label for="level">Level:</label>
                    <select id="level" required>
                        <option value="1">Level 1</option>
                        <option value="2">Level 2</option>
                    </select>

                    <label for="indicator">Indicator:</label>
                    <select id="indicator" required>
                        <option value="ndvi">NDVI</option>
                        <option value="evi">EVI</option>
                        <option value="savi">SAVI</option>
                        <option value="ndwi">NDWI</option>
                        <option value="mndwi">MNDWI</option>
                        <option value="awei">AWEI</option>
                    </select>

                    <label for="lat">Latitude:</label>
                    <input type="number" id="lat" step="0.000000000000001" required>

                    <label for="long">Longitude:</label>
                    <input type="number" id="long" step="0.000000000000001" required>

                    <label for="start_date">Data de Início:</label>
                    <input type="date" id="start_date">

                    <label for="end_date">Data de Fim:</label>
                    <input type="date" id="end_date" required>

                    <label for="cloud_cover">Max Cloud Cover (%):</label>
                    <input type="number" id="cloud_cover" min="0" max="100">

                    <button type="submit">Search Scene</button>
                </form>
            </div>
            <div id="scene-select"></div>
            <div id="index-info"></div>
        </div>
    </div>

    <div id="analysis-container" style="display: none;">
        <h2>Data Analysis</h2>
        <!-- Content for data analysis will be added here -->
    </div>

    <div id="registration-container">
        <h2>Register for news and notifications about Landsat!</h2>
        <form id="registration-form">
            <label for="category-select">Category:</label>
            <select id="category-select" onchange="updateInfo()">
                <option value="All">All</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Hidrology">Hidrology</option>
            </select>

            <div id="ndvi">
                <input type="checkbox" id="ndvi-checkbox">
                <label for="ndvi-checkbox">NDVI</label>
            </div>

            <div id="evi">
                <input type="checkbox" id="evi-checkbox">
                <label for="evi-checkbox">EVI</label>
            </div>

            <div id="savi">
                <input type="checkbox" id="savi-checkbox">
                <label for="savi-checkbox">SAVI</label>
            </div>

            <div id="ndwi">
                <input type="checkbox" id="ndwi-checkbox">
                <label for="ndwi-checkbox">NDWI</label>
            </div>

            <div id="mndwi">
                <input type="checkbox" id="mndwi-checkbox">
                <label for="mndwi-checkbox">MNDWI</label>
            </div>

            <div id="awei">
                <input type="checkbox" id="awei-checkbox">
                <label for="awei-checkbox">AWEI</label>
            </div>

            <label for="name">Nome:</label>
            <input type="text" id="name" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" required>

            <fieldset>
                <legend>Preferences:</legend>
                <input type="checkbox" id="all-updates" name="preferences" value="all">
                <label for="all-updates">All Updates</label>

                <input type="checkbox" id="new-acquisitions" name="preferences" value="new">
                <label for="new-acquisitions">New acquisitions</label>

                <input type="checkbox" id="data-reports" name="preferences" value="reports">
                <label for="data-reports">Data Reports</label>
            </fieldset>

            <button type="submit">Register</button>
        </form>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>

