<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Landsat</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <header>
        <h1>Mapa Landsat</h1>
        <nav>
            <a href="#">Página Atual</a>
            <a href="#">Análise Dados Landsat</a>
        </nav>
    </header>
    
    <div id="loading-indicator">Carregando...</div>    
    <div id="principal">
        <div id="map"></div>
        <div id="form-container">
            <form id="landsat-form">
                <label for="landsat">Landsat:</label>
                <select id="landsat" name="landsat">
                    <option value="L9">Landsat 9</option>
                    <option value="L8">Landsat 8</option>
                    <option value="L7">Landsat 7</option>
                    <option value="L5">Landsat 5</option>
                </select>
                <br>
                <label for="category-select">Category:</label>
                <select id="category-select" name="category">
                    <option value="All">All</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Hidrology">Hidrology</option>
                    <option value="Temperature & Climate">Temperature & Climate</option>
                </select>
                <label for="level">Level:</label>
                <select id="level" name="level">
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                </select>
                <br>

                <label for="lat">Latitude:</label>
                <input type="number" id="lat" name="lat" step="any" required>
                <br>

                <label for="long">Longitude:</label>
                <input type="number" id="long" name="long" step="any" required>
                <br>

                <label for="start_date">Data de Início:</label>
                <input type="date" id="start_date" name="start_date">
                <br>

                <label for="end_date">Data de Fim:</label>
                <input type="date" id="end_date" name="end_date" required>
                <br>

                <label for="cloud_cover">Cobertura de Nuvens (%):</label>
                <input type="number" id="cloud_cover" name="cloud_cover" min="0" max="100">
                <br>

                <button type="submit">Buscar Cena</button>
            </form>

            <div id="scene-select"></div>
        </div>
    </div>
    <div>
        <h1>Checkboxes</h1>

        <div id="ndvi">
            <label for="ndvi">
                <input type="checkbox" id="ndvi-checkbox" name="ndvi-option" value="ndvi">
                NDVI
            </label>
            <br>
        </div>

        <div id="evi">
            <label for="evi">
                <input type="checkbox" id="evi-checkbox" name="evi-option" value="evi">
                EVI
            </label>
            <br>
        </div>

        <div id="savi">
            <label for="savi">
                <input type="checkbox" id="savi-checkbox" name="savi-option" value="savi">
                SAVI
            </label>
            <br>
        </div>

        <div id="ndwi">
            <label for="ndwi">
                <input type="checkbox" id="ndwi-checkbox" name="ndwi-option" value="ndwi">
                NDWI
            </label>
            <br>
        </div>

        <div id="mndwi">
            <label for="mndwi">
                <input type="checkbox" id="mndwi-checkbox" name="mndwi-option" value="mndwi">
                MNDWI
            </label>
            <br>
        </div>

        <div id="awei">
            <label for="awei">
                <input type="checkbox" id="awei-checkbox" name="awei-option" value="awei">
                AWEI
            </label>
            <br>
        </div>

        <div id="lsr">
            <label for="lsr">
                <input type="checkbox" id="lsr-checkbox" name="lsr-option" value="lsr">
                LSR
            </label>
            <br>
        </div>
        
        <div id="bt">
            <label for="bt">
                <input type="checkbox" id="bt-checkbox" name="bt-option" value="bt">
                BT  
            </label>
        </div>
        
        <br>
    </div>

    <div id="graph-container"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
